.box{
    background-color: aqua;
    text-align: center;
    height: 100px;
}
.container{
    display: grid;
    grid-template-columns: repeat(2,200px);
   
    grid-gap: 10px;
    
    grid-template-areas: 
    "box1 box1 box1 box1 box1"
    "box0 box0 box0 box0 box0"
    "box2 box2 box3 box3 box3"
    "box2 box2 box4 box4 box4"
    "box2 box2 box4 box4 box4"
    "box5 box5 box5 box5 box5"

    ;


}

.box1{
    grid-area: box1;
    overflow: auto;

}

.box2{
    grid-area: box2;
    height: 600px;
    background-color: rgba(255, 217, 0, 0.452);
    overflow: auto;
}

.box3{
    grid-area: box3;
    height: 400px;
    background-color: aliceblue;
    overflow: auto;
}


.box4{
    grid-area: box4;
    height: 185px;
    direction: rtl;
    text-align:right;
    color: chartreuse;
    background-color: aliceblue;
}

a{
    text-decoration: none;
}
a:hover{
    color: rgb(255, 0, 149);
    font-size: 20px;
}
a:visited{
    color: yellow;
}
.box5{
    grid-area: box5;
    background-color: aliceblue;
    
}

p{
    justify-items: center;
    align-items: center;
    text-size-adjust: 100px;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: chartreuse; 
    border-style:groove;
    border-width: 10px;
    border-color: indigo;
    
    

}
p::first-letter{
    color: red;
    font-size: 50px;
}

form{
    font-size: 20px;
    color: rgb(255, 20, 145);
     align-items: center;
     direction: rtl;
    border-style:dashed;
   
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img{
    width: 100%;
    height: 200px;
    
}